!!!
%html{lang: "en"}
  %head
    %title Vincent Jumeaux Resume
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
  %body
    .row.small-centered
      %br
      .columns.small-4.medium-2= image_tag "photo_VJ_2014_NB.jpg", class: "photo_cv"
      .columns.small-8.medium-6
        .columns
          %h1 Vincent Jumeaux
          %br
        .columns.hide-for-small
          %ul.no-bullet
            %li
              =t('intro1')
              =link_to("chopsticks.io", "https://www.chopsticks.io")
            %li= t('intro2')
            %li= t('intro3')
      .columns.show-for-small-only
        %ul.no-bullet
          %li
            = t('intro1')
            =link_to("chopsticks.io", "https://www.chopsticks.io")
          %li= t('intro2')
          %li= t('intro3')
      .columns.small-12.medium-3.resume_contact_box
        %br
        .label
          =icon 'envelope-o' 
          vincent.jumeaux at gmail.com
        %br
        .label
          =icon 'phone'
          +260 (0) 096-446-1904
        %br
        .label 
          =link_to(icon('github') + t('github'), "https://github/jum-s") 
        %br
        .label 
          =link_to(icon('twitter') + t('tweeter'), "https://tweeter/Jumijums")
        %br
        .label 
          =link_to(icon('file-pdf-o') + t('dlresume'), "/resume_vincent_jumeaux.pdf") 
    .row.small-centered
      .columns
        %hr
        %h3
          =icon 'graduation-cap'
          Education
      
        .columns.small-12.medium-6.bd-left
          .columns.small-4=image_tag("simplon.png")
          .columns.small-8
            %h4
              =link_to t('education1'), "http://simplon.co"
            %ul
              %li= t('education2')
              %li= t('education3')
          .columns
            %br
            %h4
              =icon 'laptop'
              = t('education4')
              | 
            .columns.inline
              = t('education6')
              %p.label Ruby
              %p.label Javascript
            .columns.inline
              %br
              = t('education7')
              .label Rails
              .label Sinatra
              .label Jekyll
              .label Meteor
            .columns.inline
              %br
              = t('education8')
              .label PostgresSQL
              .label MongoDB
            .columns.inline
              %br
              = t('education9')
              .label Git
              .label Rspec
            .columns.inline
              %br
              = t('education10')
              .label Foundation
              .label Bootstrap
              .label Jquery
            .columns.inline
              %br
              = t('education11')
              .label Ubuntu server
              .label Arch
              .label Apache
              .label Ngnix


        .columns.small-12.medium-6.bd-left
          %hr.show-for-small-only
          .columns.small-4=image_tag 'sciencespo.jpg'
          .columns.small-8
            %h4
              =link_to "Sciences Po Bordeaux, 5 years", "http://www.sciencespobordeaux.fr/en/index.html"
            %ul
              %li= t('education12')
              %li= t('education13')
            %br
            %h4
              =icon 'flask'
              = t('education14')
            %ul
              %li= t('education15')
              %li= t('education16')
              %li= t('education17')
      .columns
        %hr
        %h3
          =icon 'briefcase'
          =t('pro1')
        .columns.small-12.medium-4.bd-left
          %p.source Jan. 2011 – Jul. 2012
          %h4
            =t('pro2')
            = link_to t('prolink0'), "http://www.librarieswithoutborders.org/"
            =t('pro3')
          %ul
            %li=t('pro4')
            %li 
              %strong
                =link_to t('prolink1'), "http://www.bn.ueh.edu.ht/"
                =t('pro5')
            %li=t('pro6')
            %li 
              =t('pro7')
              .label project cycle management
              .label fundraising 
              .label EU reporting 
              .label group training  
              .label partnership leading
              .label ToR, convention & contract negociations
        .columns.small-12.medium-4.bd-left
          %p.source Apr. 2010 – Sept. 2010
          %h4
            =t('pro8')
            =link_to t('prolink2'), "http://rac-f.org/Who-are-we"
            \- Paris
          %ul
            %li
              =t('pro9')
              =link_to t('prolink3'), "http://ressourcesclimatdeveloppement.jimdo.com/"
            %li
              =t('pro10')
              =link_to t('prolink4'), "http://ressourcesclimatdeveloppement.jimdo.com/app/download/4656496664/53cf765c%2Ff8e026d8c921140af4dcd85159736b3b5a41d479%2FCLIDEV-A.pdf?t=1289294663"
        .columns.small-12.medium-4.bd-left
          %p.source Jun. 2009 – Mar. 2010
          %h4
            =t('pro11')
            =link_to  "Clean Water Action", "http://www.cleanwateraction.org/"
            =t('pro12')
          %ul
            %li=t('pro13')
            %li=t('pro14')
    .row.small-centered
      .columns
        %hr
        %h3
          =icon 'star'
          =t('autre1')
        .columns.small-12.medium-6.bd-left
          %p
            =icon 'plane'
            =t('autre2')
            %ul
              %li=t('autre3')
              %li=t('autre4')
              %li=t('autre5')
              %li=t('autre6')
        .columns.small-12.medium-6.bd-left
          %p
            =icon 'youtube-play'
            =t('autre7')
          %p
            =icon 'home'
            =t('autre8')
          %p
            =icon 'dribbble'
            =t('autre9')