.jump
- @autoposts.each do |auto|
  .columns.small-12.medium-4.large-4.bd-left
    = link_to auto.url do
      %h4.source
        = auto.pocket_date.strftime("%e %b.")
        |
        = icon('clock-o')
        #{get_reading_time(auto)}
        |
        #{get_sentiment(auto)}
        |
        - if auto.language == "english"
          = image_tag 'uk.png', size: '20x20'
        - elsif auto.language == "french"
          = image_tag 'fr.png', size: '20x20'
        - else
          = icon('question')
      %h4
        %strong= auto.title
      - if auto.image != nil
        .columns.crop.no-pad
          = image_tag(auto.image)
      - if has_video(auto) == true
        .video_icon.button.radius.alert
          = icon('play-circle-o')
          = t('watchvideo')
      = icon('tag') if auto.tag != ""
      - auto.tag.split(",").first(5).each do |tag|
        %p.inline.label= tag
      %p
        = strip_tags(auto.text.first(250)).html_safe
        [...]
