%hr
= link_to obj.url do
  %h4.time_date
    = obj.created_at.strftime("%e %b.")
    |
    = icon 'clock-o'
    #{display_reading_time(obj) if obj.word_count}
    #{display_sentiment(obj)}
    #{display_language(obj)}
  %h3= obj.title
  - if obj.has_video == 1
    .video_large.image.button
      .fa-3x= icon('play-circle-o')
      = t('watchthevideo')
    %br
  - else
    - if obj.image && obj.image.include?('http')
      .columns.crop.no-pad
        = image_tag obj.image, "data" => {"url" => obj.image}, class: "lazy-load"
    - else 
      %span.columns.crop.no-pad{style: "background-color: #{random_color}"}
  %p= strip_tags(obj.text.truncate(250, separator: ' ')).html_safe if obj.text