- if obj.url.include?("youtub" || "vimeo" || "dailymotion")
  .columns.medium-7
    .video_icon.button.radius.alert
      = icon('play-circle-o')
      = t('watchvideo')
  %br
- else
  - if obj.image =~ /\A#{URI::regexp(['http', 'https'])}\z/
    .columns.crop.no-pad
      = image_tag(obj.image)
  - else 
    %span.columns.crop.no-pad{:style => "background-color: #{random_color}"}
  %p= strip_tags(obj.text.truncate(250, separator: ' ')).html_safe if obj.text
