.row
  .columns.small-12.medium-6.large-4.big_title Vincent Jumeaux
  .columns.hide-for-small.medium-6.large-8.subtitle #freelance #webdev #curration #Ruby #wikimedia #humanitaire #edtech #api #connaissance #technologie #lifehack #humanité #internet #philo
  .jump
  %br
  %br
.row
  .columns.small-12.medium-8
    .columns.small-12.medium-10.quote_box
      %blockquote
        .columns
          %h3.heading Pensée aléatoire
          #{icon('quote-left')} #{@pensee_random} #{icon('quote-right')}
    %hr
    .columns.small-6
      %h2.heading= link_to 'Réflexions courtes', posts_path
    .columns.small-6.pull-3
      = link_to "Voir tous les textes", posts_path, :class => "button tiny alert pull-right"
    .columns
      - @posts.each do |post|
        = link_to post do
          %h4.time_date
            = post.created_at.strftime("%e %b")
          %h3.heading
            = post.title
          %p.p-1
            = post.text
        %hr
  .columns.small-12.medium-4
    .container-fluid
      %h2.heading= link_to 'Article à Lire', :controller => "autoposts"
      %p.source
        %small posté par l'outil du diable Pocket.io
      - @autoposts.each do |auto|
        %hr
        = link_to auto do
          %h4.time_date
            = auto.pocket_date.strftime("%e %b.")
            |
            = icon('clock-o')
            \~ #{get_reading_time(auto)}
          %h3.heading
            %strong= auto.title
          %p.p-1
            = auto.excerpt
          