.row
  .columns.small-12.medium-8
    .quote_box
      %h3.heading= t('thought')
      %p
        #{icon('quote-left')} #{@pensee_random} #{icon('quote-right')}
    %hr
    .columns
      %h2.heading= link_to t('toread'), autoposts_path
      .text_box
        - @autoposts.each do |auto|
          = link_to auto.url do
            %h4.time_date
              = auto.created_at.strftime("%e %b.")
              |
              = icon 'clock-o'
              = auto.reading_time
              #{get_sentiment(auto)}
              #{get_language(auto)}
            %h3= auto.title
            %span.columns.crop.no-pad{:style => "background-color: #{random_color}"}
              = image_tag(auto.image) if auto.image
              - if auto.tag
                .text
                  = icon('tag')
                  - if auto.tag
                    - auto.tag.split(",").each do |tag|
                      %p.inline.label= tag
            - if auto.has_video == 1
              .columns.medium-7
                .video_icon.button.radius.alert
                  = icon('play-circle-o')
                  = t('watchvideo')
              %br
            - else
              %p
                = strip_tags(auto.text.first(250)).html_safe if auto.text
                [...]
          %hr
        .button.radius= link_to t('moreautopost'), autoposts_path
  .columns.small-12.medium-4.twt_box
    .columns
      %h3.heading 
        = t('twtlinks') 
        = icon('twitter')
      %small= link_to "Posted by @jumijums", "https://tweeter/Jumijums"
      - @twtlinks.each do |twt|
        = link_to twt.url do
          .time_date
            %br
            = twt.created_at.strftime("%e %b.")
            |
            = twt.reading_time
            #{get_sentiment(twt)}
            #{get_language(twt)}
          %h4= twt.title
          - if twt.tag != ""
            = icon('tag') 
            - twt.tag.split(/,/).first(4).each do |tag|
              %p.inline.label= tag
          - if twt.has_video == 1
            .video_icon.button.radius.small
              = icon('play-circle-o')
              = t('watchvideo')
        %hr 
.row
  .columns.medium-6.reflexion_box
    %h2.heading= link_to t('food'), posts_path
  .columns.small-6.pull-3
    = link_to t('seeall'), posts_path, :class => "button tiny alert pull-right"
  - @posts.each do |post|
    .columns.bd-left
      %h4.time_date= post.created_at.strftime("%e %b")
      %h3.heading= post.title
      %p.p-1= post.text.html_safe