.row
  .columns.small-12.medium-6.large-4.big_title Vincent Jumeaux
  .columns.hide-for-small.medium-6.large-8.subtitle #freelance #webdev #curration #Ruby #wikimedia #humanitaire #edtech #api #connaissance #technologie #lifehack #humanité #internet #philo
  .jump
  %br
  %br
.row
  .columns.small-12.medium-8
    .columns.quote_box
      %blockquote
        .columns
          %h3.heading Pensée aléatoire
          #{icon('quote-left')} #{@pensee_random} #{icon('quote-right')}
    %hr
    .columns
      %h2.heading= link_to "Article à Lire", :controller => "autoposts"
      %small posté par l'outil du diable getpocket.com
      .text_box
        - @autoposts.each do |auto|
          = link_to auto do
            .columns.medium-3
              %h4.time_date
                = auto.pocket_date.strftime("%e %b.")
                |
                = icon('clock-o')
                \~ #{get_reading_time(auto)}
            .columns.medium-9
              = icon('tag')
              - auto.tag.split(",").each do |tag|
                %p.inline.label
                  = tag
            %h4= auto.title
            - if auto.image == nil
              = auto.excerpt.first(155) + "..."
            - else
              .crop
                = image_tag(auto.image) if auto.image != nil
              .text
                = auto.excerpt.first(155) + "..."
          %br
          %hr
    .columns.small-6
      %h2.heading= link_to 'Réflexions courtes', posts_path
    .columns.small-6.pull-3
      = link_to "Voir tous les textes", posts_path, :class => "button tiny alert pull-right"
    .columns
      - @posts.each do |post|
        = link_to post do
          %h4.time_date
            = post.created_at.strftime("%e %b")
          %h3.heading
            = post.title
          %p.p-1
            = post.text
        %hr
  .columns.small-12.medium-4
    .columns.next_article_box
      %h3.heading 
        Mes articles tweetés 
        = icon('twitter')
      .source
      - @twtlinks.each do |twt|
        = link_to twt do
          .time_date
            = twt.created_at.strftime("%e %b.")
            |
            = icon('clock-o')
            \~ #{get_reading_time(twt)}
          = twt.title
        %hr 
          