.jump
- @twtlinks.each do |twt|
  .columns.small-12.medium-4.bd-left
    = link_to twt do
      %h4.source
        = twt.created_at.strftime("%e %b.")
        |
        #{get_sentiment(twt)}
        |
        - if twt.language == "english" && has_video(twt) != true
          = image_tag 'uk.png', size: '20x20'
        - elsif twt.language == "french" && has_video(twt) != true
          = image_tag 'fr.png', size: '20x20'
        - else
          = icon('question')
      %h4= twt.title
      - if twt.image =~ /\A#{URI::regexp(['http', 'https'])}\z/
        .columns.crop.no-pad
          = image_tag(twt.image)
      - if has_video(twt) == true
        .video_icon.button.radius.alert
          = icon('play-circle-o')
          = t('watchvideo')
      - if twt.tag != ""
        = icon('tag')
        - twt.tag.split(",").first(5).each do |tag|
          %p.inline.label= tag
      %p
        = strip_tags(twt.text.first(250)).html_safe
        [...]
