.jump
- @twtlinks.each do |twt|
  .columns.small-12.medium-4.bd-left
    = link_to twt.url do
      %h4.source
        = twt.created_at.strftime("%e %b.")
        |
        = icon 'clock-o'
        = twt.reading_time
        #{get_sentiment(twt)}
        #{get_language(twt)}
      %h4= twt.title
      - if twt.image =~ /\A#{URI::regexp(['http', 'https'])}\z/
        .columns.crop.no-pad
          = image_tag(twt.image)
      - else 
        %span.columns.crop.no-pad{:style => "background-color: #{random_color}"}
      - if twt.has_video
        .video_icon.button.radius.alert
          = icon('play-circle-o')
          = t('watchvideo')
