.jump
- @twtlinks.each do |twt|
  .columns.small-12.medium-4
    %hr
    = link_to twt do
      %h4.source
        = twt.created_at.strftime("%e %b.")
        |
        / = icon('clock-o') + " " + get_reading_time(twt)
        - if twt.sentiment == 1
          |
          = icon('smile-o')
        - elsif twt.sentiment == 2
          |
          = icon('meh-o')
        - elsif twt.sentiment == 3
          |
          = icon('frown-o')
        - if twt.language == "english"
          |
          = image_tag 'uk.png', size: '20x20'
        - elsif twt.language == "french"
          |
          = image_tag 'fr.png', size: '20x20'
        - else
          |
          = icon('question')
      %h4
        %strong= twt.title
      .columns.crop.no-pad= image_tag(twt.image) if twt.image != nil
      = icon('tag') if twt.tag != ""
      - twt.tag.split(",").each do |tag|
        %p.inline.label= tag
