.columns
  %br
  .panel
    %h3= t('watchvideo')
    - @twtlink_videos.each do |vid|
      .inline.label.secondary.radius.video_icon
        = icon('play-circle-o')
        = vid.title.truncate(60, separator: ' ')
      |
  %br

- @twtlinks.each do |twt|
  .columns.small-12.medium-4.large-4.bd-left
    = link_to twt.url do
      %h4.source
        = twt.created_at.strftime("%e %b.")
        |
        = icon 'clock-o'
        = twt.reading_time
        #{get_sentiment(twt)}
        #{get_language(twt)}
      %h4
        %strong= twt.title
      - if twt.image =~ /\A#{URI::regexp(['http', 'https'])}\z/
        .columns.crop.no-pad
          = image_tag(twt.image)
      - else 
        %span.columns.crop.no-pad{:style => "background-color: #{random_color}"}
      %p= strip_tags(twt.text.truncate(250, separator: ' ')).html_safe
