- if @twtlink.text == nil then
  redirect_to @twtlink.url
- else
  .row
    .jump
    .columns.medium-7.medium-centered.reading_box
      %br 
      %h3= @twtlink.title.html_safe
      %p.source
        =link_to(icon('link') + " Source", @twtlink.url)
        |
        = @twtlink.created_at.strftime("%e %B %Y")
      %p
        = @twtlink.text.html_safe 
      %br
    %br
    = link_to("Accueil", root_path, class: "small button radius")
    = link_to("Articles Tweetés", twtlinkss_path, class: "small button radius")
