.row
  .jump
  .small-7.small-centered.columns
    .reading_box
      %br 
      %h3= @post.title.html_safe
      %p.source= @post.created_at.strftime("%e %B %Y")
      %p= @post.text.html_safe 
      %br
    %br
    = link_to("Accueil", root_path, class: "small button radius")
    = link_to("Réflexions", posts_path, class: "small button radius")
