!!!
%html{lang: "en"}
  %head
    %title Dev4Dev
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
  %body.background_image
    .nav.top-bar{"data-topbar" => ""}
      %ul.title-area
        %li.name
          %h1
            %a{href: "/"} Dev4Dev
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          %li
            %a{href: "/"}
              = image_tag "logo.jpg", :size => "30x30", :id => "logo"
              by Jum's
          %li
            =link_to(icon('github'), "https://github/jum-s") 
          %li
            =link_to(icon('twitter'), "https://tweeter/Jumijums")
          %li
            =link_to(icon('rss'), "/feed")

        / Left Nav Section
        %ul.left
          %li
            %a{href: "/posts"} =t('food')
          %li
            %a{href: "/autoposts"} =t('links_to_read')
          %li
            %a{href: "/owns"} AboutMe
    .jump

    .row
      .columns
        = yield
    .row-fluid
      .columns.small-12.medium-4.footer
        %h3.heading Me concernant
        %p Mon CV
        %p Mes réalisations
        %p
          %a{href: "http://www.dailymotion.com/video/x1536di_tour-de-france-moto-2013_auto"} Mon Tour de France moto 2013
        #dom-elem-82.paragraph
      .columns.small-12.medium-4.footer
        %h3.heading Mes amis
        %p
          %a{href: "http://maxlath.eu/"} Maxlath
        %p
          %a{href: "http://simplon.co/"} Simplon
      .columns.small-12.medium-4.footer
        %h3.heading Ces vidéos qui changent la vie
        %p
          %a{href: "https://www.youtube.com/watch?v=-cwdVDcm-Z0"} Le revenu de base
        #dom-elem-98.paragraph
        %p
          %a{href: "http://www.youtube.com/watch?v=OwSzDZnNjUk&feature=youtu.be"} Coalition of the willing
        %p
          %a{href: "https://www.youtube.com/watch?v=c6Bkr_udado"} The Innovation of Loneliness
    