!!!
%html{lang: "en"}
  %head
    %title Dev4Dev
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
  %body.background_image
    %nav.top-bar{"data-topbar" => ""}
      %section.top-bar-section
        %ul.title-area
          %li.toggle-topbar=link_to(image_tag("logo.jpg", :size => "30x30", :id => "logo"), root_path)
        %ul.left
          %li.hide-for-small=link_to(image_tag("logo.jpg", :size => "30x30", :id => "logo"), root_path)
          %li=link_to(t('toread'), autoposts_path)
          %li=link_to(t('food'), posts_path)
          %li=link_to(t('twtlinks'), twtlinks_path)
          %li=link_to(t('about_me'), mois_cv_path)
        %ul.right
          %li=link_to(image_tag('fr.png', size: '20x20', class: 'flag'), root_path + "fr")
          %li=link_to(image_tag('uk.png', size: '20x20', class: 'flag'), root_path + "en")
          %li=link_to(icon('github'), "https://github/jum-s") 
          %li=link_to(icon('twitter'), "https://tweeter/Jumijums")
          %li=link_to(icon('rss'), "/feed")
    .jump
    .row
      .columns
        = yield
    .row-fluid
      .columns
        %hr
        .next_article_box
          %h4= t('tocontinue')
          - @next_articles.each do |next_article|
            = link_to next_article do
              %h3
                = next_article.title
                = icon('twitter') if next_article.class == Twtlink
      .columns.small-12.medium-4.footer
        %h3.heading Me concernant
        %p=link_to t('resume'), mois_cv_path
        %p=link_to t('realisations'), mois_realisation_path
        %p=link_to  t('tour_fr'), mois_tour_path
      .columns.small-12.medium-4.footer
        %hr.hide-for-medium.hide-for-large
        %h3.heading= t('friends')
        %p=link_to "Simplon.co", "http://simplon.co"
        %p=link_to "Maxlath", "http://maxlath.eu/"
        %p=link_to "Em-hack", "http://bepos.be/"
      .columns.small-12.medium-4.footer
        %hr.hide-for-medium.hide-for-large
        %h3.heading= t('lifechangevid')
        %p=link_to t('basicincome'), "https://www.youtube.com/watch?v=-cwdVDcm-Z0"
        %p=link_to "Coalition of the willing", "http://www.youtube.com/watch?v=OwSzDZnNjUk&feature=youtu.be"
        %p=link_to "The Innovation of Loneliness", "https://www.youtube.com/watch?v=c6Bkr_udado"
      .columns.footer
        %hr.hide-for-medium.hide-for-large
        %small written with ♥ by Vincent Jumeaux | Data from articles are all right reserved to their compagny owners
    = javascript_include_tag "application"