!!!
%html{lang: "en"}
  %head
    %title Dev4Dev
    %meta{charset: "utf-8"}/
    %meta{content: "width=device-width, initial-scale=1, maximum-scale=1", name: "viewport"}/
    = stylesheet_link_tag "application"
    = auto_discovery_link_tag :atom, "/feed"
    = auto_discovery_link_tag :rss, "/feed.rss"
  %body.background_image
    = render "layouts/menu_bar"
    .row
      .columns.small-12.medium-4.big_title=t('title')
      = yield
    .row-fluid
      = render "layouts/footer"
    = javascript_include_tag "application"